.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #E0DFDE;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1230px;
    padding: 20px 15px;
    box-sizing: border-box;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.admin__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8B7969;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    color: #fff;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.search-fields input,
.search-fields select,
.btn-search,
.btn-reset {
    width: 200px;
    /* 各要素の幅 */
    max-width: 250px;
    /* 最大幅を制限 */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    /* 余白を含む幅計算 */
}

.btn-search {
    background-color: #8B7969;
    color: #fff;
    border: none;
}

.btn-reset {
    background-color: #dcdcdc;
    color: #8B7969;
    border: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.table th {
    background-color: #8B7969;
    color: #fff;
}

.btn-detail {
    background-color: #b08872;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal.visible {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 500px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ccc;
}

.btn-delete {
    background-color: #8B7969;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.pagination {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
}

.pagination-top{
    display: flex;
}

.pagination-top span {
    font-size: 12px;
    display: flex;
    gap: 5px;
}
.export-page {
    display: flex;
    gap: 5px;
    padding: 0 150px;
    box-sizing: border-box;
    justify-content: space-between;
}
