.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E0DFDE;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1230px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.header__logo {
  color: #8B7969;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
  color: #8B7969;
}

.form__label--item {
  margin-left: 5px;
  padding: 4px 5px;
  color: #8B7969;
}


.form__label--required {
  margin-left: 2px;
  padding: 4px 6px;
  color: #ff0000;
}

.form__input--text {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.form__input--text input,
.form__input--select select {
  padding: 10px;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
  background-color: #F4F4F4;
  height: 40px;
}

.form__input--radio {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 40px;
  width: 600px;
  color: #8B7969;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #8B7969;
  color: #fff;
  cursor: pointer;
}

.form__input--select {
  width: 600px;
  flex-direction: column;
  display: flex;
}

.form__group_inquiry-group {
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: column;
  display: flex;
}

.form__group-title {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 200px;
  margin-bottom: 15px;
}

.form__group-content {
  color: #8B7969;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.form__input-wrapper input {
  width: 290px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form__error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.form__input--text {
  display: flex;
  width: 600px;
  border-radius: 3px;
  appearance: none;
  gap: 20px;
  align-items: center;
}

.form__group--name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.form__group--gender {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.form__group--email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.form__group--tel {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.form__group--address {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.form__group--building {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.form__group--inquiry_type {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.form__input-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.form__input-email input {
  width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form__input-tel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.form__input-tel input {
  width: 165px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form__input-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.form__input-address input {
  width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form__input--textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.form__input--textarea textarea {
  width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  height: 180px;
  color: #8B7969;
}