.thanks-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #6F4F32;
}

.thanks-content {
    display: flex;
    flex-direction: column;
    /* 子要素を縦並びにする */
    justify-content: center;
    align-items: center;
    /* 中央揃え */
    gap: 20px;
    /* ボタンやテキスト間のスペース */
    z-index: 2;
}

.home-button {
    padding: 5px 20px;
    background-color: #6F4F32;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.home-button:hover {
    opacity: 0.8;
}

button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.thanks-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgba(111, 79, 50, 0.1);
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
}